
.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  padding: .8rem 1.6rem; 
  width: 10rem;
}

.btn:hover {
  transition: all 300ms ease-out; 
}

.sort {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.sort p {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Tab-land 1200px */
@media (max-width: 75em) {
  .section {
    justify-content: space-between;
    width: 110%;
  }
}

@media (max-width: 65em) {
  .section {
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 37.5em) {
  .buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .btn {
    padding: .4rem 1.2rem; 
    font-size: 1.2rem;
  }
}
