

.card {
  width: 100%;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
}

.image img {
  height: 30rem;
  width: 30rem;
  object-fit: contain;
}

.content  {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; 
  font-weight: 500;
}

.price {
  color: #77002e;
  font-size: 1.6rem;
  font-weight: 700;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  padding: .8rem 1.6rem; 
  background-color: #77002e;
  transition: all 400ms ease-out; 
}

.btn:hover {
  background-color: #fff;
  color: #77002e;
}


/* Tab-lan 1200px */
@media (max-width: 75em) {
  .card {
    width: 90%;
  }

  .conteiner {
    margin-bottom: 1.6rem;
  }
}

@media (max-width: 65em) {
  .card {
    width: 85%;
  }

  .image img {
    height: 35rem;
    width: 35rem;
  }
}

@media (max-width: 37.5em) {
  .card {
    width: 45%;
  }

  .image img {
    height: 24rem;
    width: 24rem;
  }

  .conteiner {
    margin-bottom: 2.4rem;
  }
}


